<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Single Page Application</title>

    <!-- Bootstrap core CSS -->
    <link href="res/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="res/css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="res/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My task list</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/aboutpage">About</a></li>
            <li><a href="#/contacts">Contacts</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <!-- Views display -->
        <div id="view"></div>
      </div>
    </div><!-- /.container -->

    <!-- Templates -->
    <!-- Home page -->
    <script type="text/html" id="home">
    <h1>Мій список справ</h1>
    <p>Якщо маєте якусь важливу подію додайте її в форму нижче</p>
    <div>
        <form  role="form" onsubmit="save(); return false;">
        <div class="form-group">
            <label>Дата події</label>
            <input type="text" placeholder="--.--.----" name="taskDate">
        </div>
        <div class="form-group">
            <label>Зміст події</label>
            <input type="text" placeholder="Зміст події" name="taskTitle">
        </div>
        <button type="submit" class="btn btn-default">Додати</button>
        </form>
    </div>
    <div id="events_container" style="width:50%; height:50%; margin: 0 auto; padding: 1%;">
      <table class="table table-striped">
        <tr>
          <th class="text-nowrap">Дата</th>
          <th class="text-nowrap">Зміст події</th>
        </tr>
        <tr>
          <td><%= date %></td>
          <td><%= title %></td>
        </tr>
      </table>
       </div>
  </script>

  <!-- About page -->
  <script type="text/html" id="aboutpage">
    <h1><%= title %></h1>
    <p><%= myparagraph %></p>
  </script>
  <!-- Contacts page -->
  <script type="text/html" id="contacts">
    <h1><%= title %></h1>
    <p><%= myparagraph %></p>
  </script>
  <!-- Templates -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="res/js/jquery-2.1.4.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="res/js/ie10-viewport-bug-workaround.js"></script>
    <!-- SPA core JavaScript -->
    <script type="text/javascript" src="./js/core.js"></script>
    <script type="text/javascript" src="./js/model.js"></script>
  </body>
</html>
